
@media (max-width: 768px) {

nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;

}



nav > form > input#campoPesquisa {

   margin-left: 8px;
    margin-top: 15px;
    margin-right: 0;

}




nav > button#novapagina {

margin-bottom: 0;
margin-left: 8px;


}



   header > span {
       
        align-items: start;
        gap: 1px;
    }


    #mensagem, #comprimento {

    margin-left: 0px;
    font-size: 14.3px;
    margin-right: 0px;
    
}

#comprimento {

    margin-left: 0px;
}


}




body {

    background-color: #e8f5ff;
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;

}

header {

    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: #cceaff;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 150px;




}



#logo {

    display: flex;
    width: 100%;
    align-items: center;
}

#logo > h4 {
    
    text-decoration: none;
    color: #66acdd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-left: 50px;
}

#logo > button {
    
    margin-left: auto;
    margin-right: 150px;
    margin-top: 50px;
    border-radius: 18px;
    padding: 10px;
    font-size: 14px;
    background-color:  #66acdd;
    color: #efefea;
    transition: background-color 0.4s ease;
    border: none;
    width: 60px;


}


#logo > button:hover {

    background-color: #efefea;
    color:  #66acdd;
    cursor: pointer;

}



header > span {

    display: flex;
    font-family: cursive;
    color: #66acdd;
    flex-direction: row;
    gap: 4px;
}

#comprimento {

    margin-left: 50px;

}


nav {
    display: flex;
    width: 100%;
    align-items: baseline;

}




nav > form > input {

    border-radius: 30px;
    padding: 8px;
    padding-right: 80px;
    font-size: 14px;
    margin-left: 100px;
    margin-top: 30px;
    outline: solid 2px #66acdd;
    border: none;


}




nav > form > button {


    border-radius: 18px;
    padding: 9.2px;
    font-size: 14px;
    background-color:  #66acdd;
    color: #efefea;
    transition: background-color 0.4s ease;
    border: none;



}


button#novapagina {

    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 100px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:  #48adf4;
    color: #efefea;
    transition: background-color 0.4s ease;
    font-size: 16.8px;
    border: none;
    
}


button > p {

    margin-left: 5px;
}


span#mais {

    align-self: center;
    margin: 5px;
}



button#novapagina:hover {

    background-color: #efefea;
    color:  #66acdd;
    cursor: pointer;

}


nav > form > button:hover {

    background-color: #efefea;
    color:  #66acdd;
    cursor: pointer;


}


main {

    min-width: 80%;
    margin-top: 20px;

}

#containerNotas  {

    display: flex;
    flex-wrap: wrap;
    gap: 8px;


}

#containerNotas > div {

    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    border: 2px solid #66acdd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 250px;



}


#containerNotas > div > h4 {

    padding: 0px;
    margin-top: 1px;
    margin-bottom: 8px;
    color:#48adf4;


}

.dados {

    font-size: 13px;
    margin-top: 2px;
    color:#66acdd;
}

.conteudo {

    color:#48adf4;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;


}









footer {
    margin-top: auto;
}
