body {

    background-color: #a1d1f2;
    color: #efefea;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {


    font-size: 40px;
    flex-direction: column;
    display: flex;
    align-items: center; 
    gap: 5px;
   


}

#boasvindas {

    text-decoration: none;
    color: #efefea;
}

header > div {

    display: flex;
    

}

#titulo h3 {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     margin: 0;
     margin-top: 40px;
}


div#subtitulo {

    font-size: 20px;
    font-family: cursive;
    margin: 0;

}



section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
    
}

section > form > div > p > input {


    display: flex;
    border-radius: 40px;
    padding: 15px 40px 15px 40px;
    color:  black;
    align-items: center;
    border: none;
    font-family: cursive;

}

section > form  > div > p > input:focus{

    outline: solid 3px #66acdd;



}

section > form > div > p > label {

    font-size: 25px;

}

.botoes {

    display: flex;
    gap: 7px;
}

.botoes > button {

    width: 50%;
    text-decoration: none;
    background-color: #66acdd;
    border-radius: 40px;
    color:  #efefea;
    transition: background-color 0.4s ease;
    font-size: 22px;
    margin-top: 10px;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    
    
}

.botoes > button:hover {

    background-color: #efefea;
    color:  #66acdd;
    cursor: pointer;


}




#popUpUsuEx {


    display: none;

}

#popUpUsuEx.ativo {

    display: flex;
    background-color:  #92ccf5;
    border: 2px solid white;
    padding: 30px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#msgExiste {

    color: white;
    align-self: center;
    padding: 10px;
    font-size: 18px;
    
}

#btnExiste{

    color:  #66acdd;
    border-radius: 20px;
    font-size: 13px;
    background-color:  #efefea;
    font-family: cursive;
    border: 2px solid  #efefea;
    padding: 5px;
    transition: background-color 0.1s ease;
    margin-top: auto;
    margin-bottom: 1px;


}

#btnExiste:hover {

    border: 2px solid  #efefea;
    background-color: #66acdd;
    color:  #efefea;

    
   
}



#popUpCadSu {


    display: none;

}

#popUpCadSu.ativo {

    display: flex;
    background-color:  #92ccf5;
    border: 2px solid white;
    padding: 30px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#msgCad {

    color: white;
    align-self: center;
    padding: 10px;
    font-size: 18px;
    
}

#btnCad{

    color:  #66acdd;
    border-radius: 20px;
    font-size: 13px;
    background-color:  #efefea;
    font-family: cursive;
    border: 2px solid  #efefea;
    padding: 5px;
    transition: background-color 0.1s ease;
    margin-top: auto;
    margin-bottom: 1px;


}

#btnCad:hover {

    border: 2px solid  #efefea;
    background-color: #66acdd;
    color:  #efefea;

    
   
}



#popUpErro {


    display: none;

}

#popUpErro.ativo {

    display: flex;
    background-color:  #92ccf5;
    border: 2px solid white;
    padding: 30px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#msgErro {

    color: white;
    align-self: center;
    padding: 10px;
    font-size: 18px;
    
}

#btnErro{

    color:  #66acdd;
    border-radius: 20px;
    font-size: 13px;
    background-color:  #efefea;
    font-family: cursive;
    border: 2px solid  #efefea;
    padding: 5px;
    transition: background-color 0.1s ease;
    margin-top: auto;
    margin-bottom: 1px;


}

#btnErro:hover {

    border: 2px solid  #efefea;
    background-color: #66acdd;
    color:  #efefea;

    
   
}






footer {
    margin-top: auto;
}





